@charset "UTF-8";

.clearfix::after{
	content:"";
	display: block;
	clear:both;
}

.zcmain .zccontainer .zcimg-word{
	margin-top: 28px;
	border-bottom: 6px solid #afa4a4;
	height: 86px;
}

.zcmain .zccontainer .zcimg-word .zcimg-left{
	float: left;
	margin-right: 20px;
	
}

.zcmain .zccontainer .zcimg-word .zcword-right{
	font-size: 2em;
	float: left;
	height:40px;
	height:40px;
	line-height: 30px;
	text-align: center;
	border-left: 2px solid black;
	margin-top:25px;
}
.zcmain .zccontainer .zcimg-word .zcword-right span{
	margin-left: 20px;
}

/* 注册界面 */.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

.form{
	width:980px;
	margin:1em auto;
}




.form-area .form-item .error{
	position: absolute;
	width: 240px;
	/* 往右边移动 */
	right: -240px;
	top:20px;
	color:#f45d90 ;
	font-size: 12px;
	display: none;
}




/* 表單区域 */
.form-area{
	width:423px;
	/* 区域居中 */
	margin: 0 left;
}

/* 设置统一文本框样式 */
input[type="text"],input[type="password"]{
	border: 1px solid #dcdfe6;
	/* 设置的宽度是内容区域的宽度 */
	width: 100%;
	box-sizing: border-box;
	border-radius: 4px;
	height:40px;
	/* 首行缩进1字符 */
	text-indent: 1em;
	font-size: 14px;
	color:#606266 ;
	font-family: "zapf dingbats";
}

input#mobile{
	width: 460px;
}

input[type="text"]:hover,input[type="password"]:hover{
	border-color: #008c8c;
}

input[type="text"]::placeholder,input[type="password"]::placeholder{
	color: #ccc;
}

input[type="text"]:focus,input[type="password"]:focus{
	border-color:#33B4DE;
}

/* 中国大陆区域左浮动并排显示 */
.form-area .select .select-item,.form-area .select .input{
	float: left;
	height: 40px;
}

.form-area .select .select-item{
	width: 140px;
	/* 设置宽度后尺寸变了换行了，设置border-box就好 */
	border: 1px solid #dcdfe6;
	/* 左上 右上 右下 左下 */
	border-radius: 4px 0 0 4px;
	box-sizing: border-box;
	/* 右上圆角 */
	/* border-top-right-radius: 0; */
	border-right: none;
	position: relative;
}
/* 下拉列表定宽高 */
.form-area .select .select-item ul{
	/* 默认隐藏 */
	display: none;
	/* 最大高度256px,超过256,则256,不超过256,自适应 */
	max-height: 256px;
	background: #fff;
	color: #606266;
	position: absolute;
	/* 把后面内容遮挡 */
	z-index: 1;
	left: 0;
	top:50px;
	width: 100%;
	/* 已涉及到边框宽度超出设置borderbox */
	box-sizing: border-box;
	border: 1px solid #dcdfe6;
	border-radius: 4px;
	padding: 10px 0;
	font-size: 14px;
	/* 溢出时候使用auto滚动条 */
	overflow: auto;
}


/* 设置li宽度高度 */
.form-area .select .select-item ul li{
	height: 34px;
	padding:0 20px ;
	cursor: pointer;
	line-height: 34px;
}

/* 设置默认样式 */
.form-area .select .select-item ul .selected{
	color:#00a1d6 ;
	font-weight: bold;
}

/* 下拉列表里面文字的属性 */
.form-area .select .select-item ul li:hover{
	background-color:#f5f7fa ;
}

/* 层叠 */
.form-area .select .input input{
	border-radius: 0 4px 4px 0;;
}

.form-area .select .input{
	width: 283px;
}


.form-area .select .select-item .title{
	height: 40px;
	line-height: 40px;
	padding:0 20px ;
	color: #909399;
	cursor: pointer;
}

body{
	line-height: 1.5px;
}

.form-area .readme{
	margin:-40px 0;
	font-size: 12px;
}


.form a{
	color: #00A1D6;
}


.form-area .form-item{
	margin: 50px 0px;
	position: relative;
}


.form .form-area .form-item button{
	height: 40px;
	background: #00A1D6;
	color: #fff;
	cursor: pointer;
	border-radius: 4px;
	font-size: 14px;
}


button:hover{
	background:#33b4de;
}

button.fill{
	width: 100%;
	box-sizing: border-box;
	margin-top: 2px;
}

button:disabled{
	background: #f5f5f5;
	color:rgba(0,0,0,0.25);
	border:1px solid #d9d9d9;
	box-sizing: border-box;

	cursor:not-allowed;
}







#button1{
	position: absolute;
	left: 500px;
	top: 4px;
	height: 35px;
	width: 97px;
	}

.form-item .leftArea .province,.lvCity,.region{
	width: 90px;
	float: left;
}

.form-item .leftArea,.rightArea{
	float: left;
	width: 270px;
}



.zcmain .zccontainer .form .form-item select{
	height: 36px;
}

.zcmain .zccontainer .form .form-item{
	width: 600px;
}


<meta http-equiv="Content-Type" content="text/html; charset=GBK">



